<h1>Listing end_users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @end_users.each do |end_user| %>
  <tr>
    <td><%= end_user.name %></td>
    <td><%= end_user.password %></td>
    <td><%= link_to 'Show', end_user %></td>
    <td><%= link_to 'Edit', edit_end_user_path(end_user) %></td>
    <td><%= link_to 'Destroy', end_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New End user', new_end_user_path %>
