<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Body:</b>
  <%= @idea.body %>
</p>

<p>
  <b>Published at:</b>
  <%= @idea.published_at %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
